
# BEGIN Rochefort
Options -Indexes
# Options +FollowSymlinks

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /FormationWeb/Root/project_4/github/
RewriteRule ^author.manage-chapters$ ?uChap [L]
RewriteCond %{REQUEST_URI} /author.manage-parts
RewriteRule (.*) $1///%{QUERY_STRING} [C]
RewriteRule ^author.manage-parts///(.*)$ ?uPart&$1 [L]
RewriteRule ^author.manage-parts$ ?uPart [L]
RewriteRule ^author.manage-comments$ ?uComm [L]
RewriteRule ^chapter.read-(.*)$ ?iChap=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . . [R=301,L]
RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{REQUEST_SCHEME} !https
RewriteCond %{HTTPS} !on
RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# END Rochefort