/* Cascading Style Sheet */
/* Author : David ESQUIS */
/* --------------------- */

/***********************/
/*     MASTER STYLE    */
/***********************/

body
{
	margin: auto;
	width: 100%;
	min-width: 55em;
}

main, nav, h1, h2, h3, footer
{
	font-family: 'Anonymous Pro', Helvetica, sans-serif;
}
h2
{
	font-size: xx-large;
	font-weight: bold;
}
strong, h3
{
	font-size: x-large;
	font-weight: bold;
}
samp
{
	font-size: large;
	font-weight: normal;
	text-decoration: underline;
}
a, 
a:hover, 
a:visited
{
	color: inherit;
	text-decoration: none;
}

header
{
	z-index: 1;
	width: 100%;
	position: fixed;
	top: 0;
}
header img
{
	padding-top: 0.25em;
	padding-left: 0.25em;
	max-height: 12em;
}
h1
{
	padding-left: 1em;
	padding-right: 1em;
}
h1 em
{
	padding: 0.4em;
}
h1 .title
{
	min-width: 8em;
}
nav
{
	min-width: 12em;
	margin-right: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}

@keyframes shake-medium-effect 
{
	0%   { transform: rotateZ(0deg); }
	20%  { transform: rotateZ(10deg); }
	40%  { transform: rotateZ(-10deg); }
	60%  { transform: rotateZ(10deg); }
	80%  { transform: rotateZ(-10deg); }
	100% { transform: rotateZ(0deg); }
}
nav i:hover
{
	animation: shake-medium-effect 2.5s ease-in-out 0.1s 3 normal;
}
@keyframes shake-small-effect 
{
	0%   { transform: rotateZ(0deg); }
	20%  { transform: rotateZ(5deg); }
	40%  { transform: rotateZ(-5deg); }
	60%  { transform: rotateZ(5deg); }
	80%  { transform: rotateZ(-5deg); }
	100% { transform: rotateZ(0deg); }
}
nav strong:hover
{
	animation: shake-small-effect 3.5s ease-in-out 0.1s 5 normal;
}
nav strong
{
	padding-left: 0.5em;
	word-break: break-word;
}
nav div
{
	padding: 0.5em;
}
nav samp
{
	padding: 0.5em;
}
nav select
{
	margin-left: 1em;
	min-width: 6em;
	max-width: 12em;
}
nav input
{
	margin: 0.25em;
}

main
{
	width: 100%;
	margin-bottom: 6em;
	overflow: hidden;
}
#data-area
{
	width: 100%;
	margin: 1em;
	overflow: hidden;
}
#data-area h2
{
	width: 100%;
	margin-left: -5%;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-align: center;
}
.debug-area
{
	max-width: 85%;
	padding: 1em;
	margin-top: 1em;
	max-height: 9em;
	overflow-x: hidden;
}
#last-debug i
{
	padding-bottom: 0.5em;
}

footer
{
	width: 100%;
	height: 4em;
	position: fixed;
	bottom: 0;
}
footer p
{
	padding-top: 1em;
	font-weight: bold;
}


/* * * * * * * * * * * */
/*   Generic Classes   */
/* * * * * * * * * * * */

.hidden-tag
{
	display: none;
}

.no-leap
{
	margin: 0;
	padding: 0;
}

.user-alert
{
	margin: auto;
	color: darkred;
	font-weight: bold;
	text-align: center;
}
.user-warning
{
	color: orangered;
	text-align: center;
}
span.user-info
{
	color: darkolivegreen;
	font-weight: bold;
}
i.user-info
{
	color: darkslategrey;		/* .theme-dark-color */
	font-size: large;
}
p.user-info
{
	font-size: large;
	font-style: italic;
	text-align: justify;
}
.user-mask
{
	opacity: 0.7;
}

.as-inblock
{
	display: inline-block;
}

.cCase
{
	text-transform: capitalize;
}
.uCase
{
	text-transform: uppercase;
}
.lCase
{
	text-transform: lowercase;
}

.theme-bckgrnd-color
{
	background-color: #FDE6BB;		/* chamois */
}

.theme-color
{
	color: #E69C58;					/* 3856 chamois */
}

.theme-dark-color
{
	color: darkslategrey;
}

.theme-boxed
{
	border-style: solid;
	border-width: 1px;
	border-color: #D6AF8C;			/* ton6 chamois */
}

.theme-dashed
{
	border-style: dashed;
	border-width: 2px;
	border-color: #D6AF8C;			/* ton6 chamois */
}

.theme-marked
{
	border-style: solid;
	border-width: 1px;
	border-color: #D6AF8C;			/* ton6 chamois */
}

.theme-radius
{
	border-radius: 1em;
}

.theme-shadow
{
	text-shadow: black 2px 2px 8px;
}

.theme-light-shadow
{
	text-shadow: grey 1px 1px 20px;
}

.theme-boxed-shadow
{
	text-shadow: #D6AF8C 1px 1px 1px;
}

.theme-strip-shadow
{
	text-shadow: #D6AF8C 1px 1px 30px;
}

.theme-bckgrnd-mask
{
	background-color: rgba(255, 255, 255, 0.2);		/* white 20% */
}

.theme-bckgrnd-light-mask
{
	background-color: rgba(255, 255, 255, 0.1);		/* white 10% */
}

/* * * * * * * * * * * * */
/*   Specific Classes    */
/* * * * * * * * * * * * */

#a-m-chapters,
#a-m-parts,
#a-m-comments,
#i-reader--container
{
	min-width: 30em;
	width: 100%;
}
#a-m-chapters div,
#a-m-parts .spacing,
#a-m-comments .spacing
{
	margin-top: 2em;
	padding: 1em;
}
#a-m-chapters i
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#a-m-chapters span
{
	font-weight: bold;
}
#a-m-chapters--new
{
	width: 90%;
	min-width: 20em;
}
.chap-form input[type="submit"]
{
	position: relative;
}

/* ------------------------ */

#a-m-parts .lite-container
{
	width: 90%;
	margin: 1em;
}
#a-m-parts .lite-spacing
{
	width: 70%;
	margin: 1em;
}
#a-m-parts .form-container
{
	width: 100%;
	margin: 1em;
}
#editable-part
{
	min-height: 35em;
}
#a-m-parts input[type="submit"],
#a-m-parts input[type="button"]
{
	margin-bottom: 4em;
}
#a-m-parts label
{
	margin-right: 1em;
	min-width: 4em;
}

/* ------------------------ */

#a-m-comments .lite-container
{
	width: 90%;
}

#a-m-comments-lite,
#a-m-comments .r-flx,
#a-m-comments .inner-comment
{
	padding: 1em;
	margin: 1em;
}

#a-m-comments .r-flx label,
#a-m-comments .inner-comment i,
#a-m-comments .spacing
{
	margin-left: 2em;
	margin-right: 2em;
}

#a-m-comments .advert
{
	font-weight: bold;
	color: darkslategrey;		/* .theme-dark-color */
}

#a-m-comments .encaps
{
	font-style: italic;
	text-align: justify;
}

#a-m-comments .user-info
{
	font-size: large;
}

/* ------------------------ */

#i-reader-parts--container
{
	width: 90%;
	margin: 3em;
	margin-right: 6em;
}
#i-reader-parts--container h3
{
	margin-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}
#i-reader-parts--container article
{
	padding: 2em;
	min-width: 20em;
}

#i-reader-parts--container article .user-info
{
	padding-left: 1em;
	padding-top: 1em;
	padding-right: 0.2em;
}

#i-reader-parts--container article .master-comment
{
	margin-top: 1em;
}
#i-reader-parts--container article a
{
	float: right;
	margin-right: 1em;
}
#i-reader-parts--container article textarea
{
	margin-left: 3em;
	width: 80%;
	resize: none;
}
#i-reader-parts--container article .comm-submit
{
	margin-top: 2em;
	float: right;
}

#i-reader-parts--container article .inner-comment
{
	margin-top: 2em;
	padding: 1em;
	margin-left: 3em;
	width: 90%;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
#i-reader-parts--container article .inner-comment span
{
	padding-left: 1em;
	padding-right: 1em;
}

#i-reader-parts--container article .inner-comment i.user-info
{
	margin-top: 0;
	padding-top: 0;
	float: right;
}
#i-reader-parts--container article .inner-comment p.user-info
{
	margin-left: 2em;
	padding-bottom: 1em;
	padding-right: 1em;
	width: 80%;
}

/* * * * * * * * * * * * */
/*     Media Queries     */
/* * * * * * * * * * * * */

@media screen and (min-width: 140.001em)
{
	#i-reader-parts--container article
	{
		max-width: 30%;
	}
}
@media screen and (max-width: 140em)
{
	#i-reader-parts--container
	{
		justify-content: start;
	}
	#i-reader-parts--container article
	{
		max-width: 45%;
	}
}
@media screen and (max-width: 95em)
{
	#i-reader-parts--container
	{
		justify-content: center;
	}
	#i-reader-parts--container article
	{
		padding: 1em;
		max-width: 90%;
	}
}

@media screen and (max-width: 55em)
{
	#i-reader--container
	{
		margin-left:-1em;
	}
	#i-reader-parts--container article
	{
		padding: 0.5em;
		max-width: 90%;
	}
	/* ----------------- */
	#a-m-chapters span,
	footer, 
	#a-m-parts form input,
	#a-m-parts form select,
	#a-m-parts form label,
	.debug-area
	{
		font-size: large;
	}
	#data-area h2,
	nav, nav strong, nav samp,
	#a-m-chapters i
	{
		font-size: x-large;
	}
	header img
	{
		font-size: 0;
	}
	#a-m-parts form
	{
		display: flex;
	}
	#a-m-parts form
	{
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
	}
	#data-area, #data-area h2
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#data-area h2
	{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	#i-reader--container h2 
	{
		margin-left: -5%;
	}
}

@media screen and (max-width: 28em)
{
	header,
	#a-m-parts .lite-spacing,
	#a-m-parts .form-container
	{
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
	}
	body, strong, samp
	{
		font-size: xx-small;
	}
	header
	{
		font-size: large;
	}
	nav, 
	#i-reader-parts--container,
	.debug-area,
	#a-m-parts .lite-container,
	#a-m-comments .lite-container,
	#a-m-parts .lite-spacing
	{
		width: 101%;
		margin: 0;
		padding: 0;
	}
	#a-m-parts .lite-spacing
	{
		margin-left: 5em;
	}
	#a-m-parts form
	{
		margin-left: 1em;
	}
	header h1
	{
		font-size: 0;
	}
	#i-reader-parts--container article
	{
		padding: 0.25em;
		max-width: 100%;
	}
	#data-area, #data-area h2
	{
		margin: 0;
	}
}

/* * * * * * * * */