/* Cascading Style Sheet */
/* Author : David ESQUIS */
/* --------------------- */

/***********************/
/*     MASTER STYLE    */
/***********************/

body
{
	margin: auto;
	width: 100%;
	min-width: 55em;
}

main, nav, h1, h2, h3, footer
{
	font-family: 'Anonymous Pro', Helvetica, sans-serif;
}
strong
{
	font-size: x-large;
	font-weight: bold;
}
samp
{
	font-size: large;
	font-weight: normal;
	text-decoration: underline;
}
a, 
a:hover, 
a:visited
{
	color: inherit;
	text-decoration: none;
}

header
{
	z-index: 1;
	width: 100%;
	position: fixed;
	top: 0;
}
header img
{
	padding-top: 0.25em;
	padding-left: 0.25em;
	max-height: 12em;
}
h1
{
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
}
h1 em
{
	padding: 0.4em;
}
h1 .title
{
	min-width: 8em;
}
nav
{
	min-width: 12em;
	margin-right: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}

@keyframes shake-medium-effect 
{
	0%   { transform: rotateZ(0deg); }
	20%  { transform: rotateZ(10deg); }
	40%  { transform: rotateZ(-10deg); }
	60%  { transform: rotateZ(10deg); }
	80%  { transform: rotateZ(-10deg); }
	100% { transform: rotateZ(0deg); }
}
nav i:hover
{
	animation: shake-medium-effect 2.5s ease-in-out 0.1s 3 normal;
}
@keyframes shake-small-effect 
{
	0%   { transform: rotateZ(0deg); }
	20%  { transform: rotateZ(5deg); }
	40%  { transform: rotateZ(-5deg); }
	60%  { transform: rotateZ(5deg); }
	80%  { transform: rotateZ(-5deg); }
	100% { transform: rotateZ(0deg); }
}
nav strong:hover
{
	animation: shake-small-effect 3.5s ease-in-out 0.1s 5 normal;
}
nav strong
{
	padding-left: 0.5em;
	word-break: break-word;
}
nav div
{
	padding: 0.5em;
}
nav samp
{
	padding: 0.5em;
}
nav select
{
	margin-left: 1em;
	min-width: 6em;
	max-width: 12em;
}
nav input
{
	margin: 0.25em;
}

main
{
	width: 100%;
	margin-bottom: 6em;
	overflow: hidden;
}
#data-area
{
	width: 100%;
	margin: 1em;
	overflow: hidden;
}
#data-area h2
{
	width: 100%;
	padding: 1em;
	margin: auto;
	text-align: center;
}
.debug-area
{
	max-width: 85%;
	padding: 1em;
	margin-top: 1em;
	max-height: 9em;
	overflow-x: hidden;
}
#last-debug i
{
	padding-bottom: 0.5em;
}

footer
{
	width: 100%;
	height: 4em;
	position: fixed;
	bottom: 0;
}
footer p
{
	padding-top: 1em;
	font-weight: bold;
}


/* * * * * * * * * * * */
/*   Generic Classes   */
/* * * * * * * * * * * */

.hidden-tag
{
	display: none;
}

.no-leap
{
	margin: 0;
	padding: 0;
}

.user-alert
{
	margin: auto;
	color: darkred;
	font-weight: bold;
	text-align: center;
}
.user-warning
{
	color: orangered;
	text-align: center;
}

.as-inblock
{
	display: inline-block;
}

.cCase
{
	text-transform: capitalize;
}
.uCase
{
	text-transform: uppercase;
}
.lCase
{
	text-transform: lowercase;
}

.theme-bckgrnd-color
{
	background-color: #FDE6BB;		/* chamois */
}

.theme-color
{
	color: #E69C58;					/* 3856 chamois */
}

.theme-dark-color
{
	color: darkslategrey;
}

.theme-boxed
{
	border-style: solid;
	border-width: 1px;
	border-color: #D6AF8C;			/* ton6 chamois */
}

.theme-dashed
{
	border-style: dashed;
	border-width: 2px;
	border-color: #D6AF8C;			/* ton6 chamois */
}

.theme-radius
{
	border-radius: 1em;
}

.theme-shadow
{
	text-shadow: black 2px 2px 8px;
}

.theme-light-shadow
{
	text-shadow: grey 1px 1px 20px;
}

.theme-boxed-shadow
{
	text-shadow: #D6AF8C 1px 1px 1px;
}

/* * * * * * * * * * * * */
/*   Specific Classes    */
/* * * * * * * * * * * * */

#a-m-chapters,
#a-m-parts
{
	min-width: 30em;
	width: 100%;
}
#a-m-chapters div,
#a-m-parts .spacing
{
	margin-top: 2em;
	padding: 1em;
}
#a-m-chapters i
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#a-m-chapters span
{
	font-weight: bold;
}
#a-m-chapters--new
{
	width: 90%;
	min-width: 20em;
}
.chap-form input[type="submit"]
{
	position: relative;
}

/* ------------------------ */

#a-m-parts .lite-container
{
	width: 90%;
	margin: 1em;
}
#a-m-parts .lite-spacing
{
	width: 70%;
	margin: 1em;
}
#a-m-parts .form-container
{
	width: 100%;
	margin: 1em;
}
#editable-part
{
	min-height: 35em;
}
#a-m-parts input[type="submit"],
#a-m-parts input[type="button"]
{
	margin-bottom: 4em;
}
#a-m-parts label
{
	margin-right: 1em;
	min-width: 4em;
}

/* * * * * * * * * * * * */
/*     Media Queries     */
/* * * * * * * * * * * * */

@media screen and (max-width: 55em)
{
	
}

@media screen and (max-width: 28em)
{
	
}

/* * * * * * * * */